<html>
    <head>
        <title> My Resume</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
    </head>
    <body>
        <body style="background:url(ship1.jpeg); background-size: cover; background-repeat: no-repeat;"></body>
    <div id="header"></div>
    <div class="left"></div>
<div class="stuff">
  <br><br>
  <center>
      <img src="../static/Image/Myphoto.jpg" width="90px" height="120px">
  <h2>Ramkumar M</h2>
  </center>
  <hr />
  <br>
  <p class="head">Hobbies</p>
  <ul>
    <li>Sports</li>
    <li>Music</li>
    <li>Movie</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS </li>
    <li>C</li>
    <li>C++</li>
    <li>Core Java</li>
</ul>
<p class="head">Education</p>
<table border="1">
    <tr>
        <th>S.I. NO</th>
        <th>Qualification</th>
        <th>Specification</th>
        <th>Institution Name</th>
        <th>Percentage</th>
    </tr>
    <tr>
      <td>1</td>
      <td>SSLC</td>
      <td>NIL(State Board)</td>
      <td>SSHN.Higher Secondary school,Muhavoor,Rajapalayam</td>
      <td>92.6%</td>
  </tr>
  <tr>
    <td>2</td>
    <td>HSC</td>
    <td>Bio-Maths(State Board)</td>
    <td>SSHN.Higher Secondary School, Muhavoor,Rajapalayam</td>
    <td>83.33%</td>
</tr>
<tr>
    <td>3</td>
    <td>BE</td>
    <td>CSE(Autonomous)</td>
    <td>Adhiyamaan College Of Engineering, Hosur</td>
    <td>72.3%</td>
</tr>
</table>
        <p class="head">Experience</p>
         <ul>
         <li>No Experience</li>
        </ul>
<p class="head">Extracurriculars</p>
<ul>
<li>Running</li>
<li>Playing Cricket</li>
</ul>
</div>
<div class="right"></div>
<div id="footer">
<h2 id="name">Mr. Ram</h2></div>
</body>
</html>
    
    
    


                                    